body{
	background-color: #00001a;
}

h1{
	color: #ff9900;
}
.imageTest{
	position: block;
	right: 230px;
	
}
.image1,.image2,.image3{
	border: #ff9900 solid 4px;
	border-radius: 8px;
}

