body{
	background-color: #00001a;
}
.Logo{
	margin-top:5px;
	top: 10px;
	left: 20px;
	z-index: 1;
	
}
.line{
	display: block; 
	background-color: white;
	width: 100%;
	height: 3px;
}
.menu {
	text-align: center;
	background-color: #cc2900;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu a{
	font-family: Arial;
	color: white;
	border: 2px solid #cc2900;
	background-color: #00001a; 
	text-decoration: none;
	z-index: 1;
	width: 80px;
	border-radius: 4px;
	padding: 15px;
}
.menu li{
	list-style: none;
	display: inline-block;
}
.portfolio:hover a{
	background-color:#cc2900;
	color: black;
}
.contact:hover a{
	background-color:#cc2900;
	color: black;
}
.home:hover a{
	background-color:#cc2900;
	color: black;
}

.porth1{
	color: #cc2900;
	position: relative;
	top: 40px;
}
.image{
	border: #cc2900 solid 4px;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-top: 10px;
}
.Rhys{
	display: fixed;
	border: #cc2900 solid 4px;
	border-radius: 3px;
	margin-left: 60px;
	padding: 3px;
	margin-top: 40px;
}
.HomeText{
	color: white;
	font-family: Tahoma;
	text-align: center;
	font-size: 30px;

}
.HomePara{
	color: white;
	font-family: Tahoma;
	text-align: center;
	font-size: 30;
}
.homeFooter{
	display: sticky;
	text-align: center;
	font-size: 10px;
	background-color:#558000;
	color: white;
	margin-top: 1%;
}




